@font-face {
  font-family: 'PlusJakartaSans';
  src:
    local('PlusJakartaSans-Regular'),
    url('../assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src:
    local('PlusJakartaSans-Medium'),
    url('../assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
    url('../assets/fonts/PlusJakartaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src:
    local('PlusJakartaSans-SemiBold'),
    url('../assets/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/PlusJakartaSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src:
    local('PlusJakartaSans-Bold'),
    url('../assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/PlusJakartaSans-Bold.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: 'PlusJakartaSans', sans-serif;
  font-weight: 400;
}
